$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

body {
  padding: 20px 0;
}

header {
  text-align: center;
  margin-bottom: 40px;
  h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}


/* Override Bootstrap styling */
td, th {
  vertical-align: inherit !important;
}
.btn-primary {
  background: #555;
  border-color: #333;
  &:hover {
    background: #333;
    border-color: #222;
  }
}

/* User icons and buttons */
.btn-edit {
  border: 0;
  background: none;
  color: #999;
  &:hover {
    color: #333;
  }
}
.btn-create {
  background: #999;
  color: #fff;
  &:hover {
    background: #666;
    color: #fff;
  }
}
.role {
  padding: 5px 10px;
  margin-right: 5px;
  color: #fff;
  border-radius: 5px;
  background: #95a5a6; /* Fallback color */
  &:hover {
    color: #fff;
    cursor: default;
  }
  &.user {
    background: #3498db;
  }
  &.superuser {
    background: #9b59b6;
  }
  &.admin {
    background: #1abc9c;
  }
  &.guest {
    background: #f1c40f;
  }
}

/* Main view */
#main-view-container {
  table {
    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
      + span {
        border: 1px solid #999;
        border-radius: 5px;
        padding: 7px 9.5px;
        margin: 7px 5px 0 0;
        font-weight: 500;
        color: #999;
        &:hover {
          cursor: pointer;
          cursor: hand;
          color: #333;
        }
      }
      &:checked {
        + span {
          background: #888;
          color: #fff;
        }
      }
    }
    thead {
      height: 40px;
      font-size: 120%;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    tbody {
      .user-roles,
      .edit-buttons {
        white-space: nowrap;
        .ng-scope {
          margin: 0;
        }
      }
      .edit-buttons {
        text-align: right;
      }
    }
  }
  .add-user {
    width: 100%;
    text-align: right;
  }
}

/* Footer */
.footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  a {
    color: #777;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

