<div id="main-view-container">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th width="30%">Name</th>
        <th width="50%">Roles</th>
        <th width="20%"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(id, user) in users">
        <td>
          <span editable-text="user.name" e-name="name" e-form="rowform" e-required ng-hide="rowform.$visible">
            {{ user.name }}
          </span>
        </td>
        <td class="user-roles">
          <span
            editable-checklist="user.roles"
            e-name="roles"
            e-form="rowform"
            e-ng-options="role.value as role.text for role in roles"
            ng-hide="rowform.$visible">
            <span
              ng-repeat="role in showRole(id)"
              class="role {{ role | lowercase }} btn">
              {{ role }}
              </span>
          </span>
        </div>
        </td>
        <td class="edit-buttons">
          <form editable-form name="rowform" onbeforesave="saveUser($data, id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
            <button type="submit"
              ng-disabled="rowform.$waiting"
              ng-class="isNewUser(id) ? 'btn btn-edit' : 'btn btn-edit glyphicon glyphicon-floppy-disk'">
              <span class="btn btn-xs btn-create" ng-show="isNewUser(id)">Create User</span>
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-edit glyphicon glyphicon-remove">
            </button>
          </form>
          <div ng-show="!rowform.$visible">
            <button class="btn btn-edit glyphicon glyphicon-edit" ng-click="rowform.$show()"></button>
            <button class="btn btn-edit glyphicon glyphicon-trash"
              ng-really-message="Are you sure you want to delete {{user.name}}?"
              ng-really-click="removeUser(id)"
            ></button>
          </div>  
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container add-user">
    <button class="btn btn-primary" ng-click="addUser()">
      <span class="glyphicon glyphicon-plus"></span> Add New User
    </button>
  </div>
</div>
